# Данные к .env

DB_HOST=Название хоста.
DB_PORT=Порт postgres.
DB_NAME=Название базы данных.
DB_USER=Имя юзера, коннект к БД.
DB_PASS=Пароль юзера, коннект к БД.

DB_HOST_TEST=Название тестового хоста.
DB_PORT_TEST=Порт тестовый postgres.
DB_NAME_TEST=Название тестовой базы данных.
DB_USER_TEST=Имя юзера, коннект к тестовой БД.
DB_PASS_TEST=Пароль юзера, коннект к тестовой БД.


#Данные к db.env

POSTGRES_USER=Имя юзера, коннект к БД.
POSTGRES_PASSWORD=Пароль юзера, коннект к БД.
POSTGRES_DB=Название базы данных.


# Данные к db_test.env

POSTGRES_USER=Имя юзера, коннект к тестовой БД.
POSTGRES_PASSWORD=Пароль юзера, коннект к тестовой БД.
POSTGRES_DB=Название тестовой базы данных.

